In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_sources/data-science/munnar.csv')

In [3]:
data.head()

,Hotel Name\t\t\t\t\t\t\t\t\t,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2 km,"2,728",574
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2 km,"4,451",969
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,950 m,"2,758",684
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8 km,"2,675",756
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9 km,"3,203",654

In [4]:
data.tail()

,Hotel Name\t\t\t\t\t\t\t\t\t,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2 km,"8,103","2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6 km,"3,317",684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8 km,"3,953",808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6 km,"6,862","2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3 km,"1,014",223

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name									   74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     object
 8   Price                 74 non-null     object
 9   Tax                   72 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 5.9+ KB

In [6]:
data.columns=['hotel','rating','description','reviews','stars','location','landmark','dtl','price','tax']

In [7]:
data['price']=data['price'].apply(lambda x: ''.join(x.split(','))).astype('int64')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hotel        74 non-null     object
 1   rating       74 non-null     float64
 2   description  74 non-null     object
 3   reviews      74 non-null     int64
 4   stars        57 non-null     float64
 5   location     74 non-null     object
 6   landmark     74 non-null     object
 7   dtl          74 non-null     object
 8   price        74 non-null     int64
 9   tax          72 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 5.9+ KB

In [10]:
floatstr = '54.45 km'

In [20]:
floatstr.split(' ')

['54.45', 'km']

In [19]:
data

,hotel,rating,description,reviews,stars,location,landmark,dtl,price,tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2 km,2728,574
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2 km,4451,969
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,950 m,2758,684
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8 km,2675,756
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9 km,3203,654
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2 km,8103,"2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6 km,3317,684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8 km,3953,808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6 km,6862,"2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3 km,1014,223

In [21]:
data['dtl']=data['dtl'].apply(lambda x:float(x.split(' ')[0]))

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hotel        74 non-null     object
 1   rating       74 non-null     float64
 2   description  74 non-null     object
 3   reviews      74 non-null     int64
 4   stars        57 non-null     float64
 5   location     74 non-null     object
 6   landmark     74 non-null     object
 7   dtl          74 non-null     float64
 8   price        74 non-null     int64
 9   tax          72 non-null     object
dtypes: float64(3), int64(2), object(5)
memory usage: 5.9+ KB

In [26]:
tax = data['tax']

In [32]:
tax = tax.dropna()

In [36]:
tax = tax.apply(lambda x: ''.join(x.split(','))).astype('int64')

In [37]:
taxmean = tax.mean()

In [38]:
taxmean = round (taxmean)

In [39]:
taxmean

954

In [41]:
data['tax'].fillna(str (taxmean),inplace=True)

In [43]:
data['tax'].unique()

array(['574', '969', '684', '756', '654', '848', '713', '554', '530',
       '1,141', '1,026', '2,682', '634', '1,177', '229', '2,380', '269',
       '946', '4,617', '693', '366', '346', '2,092', '586', '1,216',
       '1,134', '954', '678', '865', '596', '156', '378', '290', '875',
       '792', '2,925', '519', '1,872', '930', '711', '653', '1,346',
       '589', '599', '2,531', '567', '429', '352', '557', '638', '741',
       '506', '923', '3,038', '953', '213', '860', '445', '472', '1,237',
       '410', '342', '484', '1,982', '418', '665', '847', '2,178', '808',
       '2,124', '223'], dtype=object)

In [46]:
data['tax']=data['tax'].apply(lambda x:''.join(x.split(','))).astype('int64')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hotel        74 non-null     object
 1   rating       74 non-null     float64
 2   description  74 non-null     object
 3   reviews      74 non-null     int64
 4   stars        57 non-null     float64
 5   location     74 non-null     object
 6   landmark     74 non-null     object
 7   dtl          74 non-null     float64
 8   price        74 non-null     int64
 9   tax          74 non-null     int64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.9+ KB

In [48]:
data[data['description']=='Average']

,hotel,rating,description,reviews,stars,location,landmark,dtl,price,tax
31,Queen Of Munnar | Rooms in a Homestay,2.8,Average,252,NaN,Central Munnar,Attukal Waterfalls,2.2,978,156

In [49]:
data[data['description']=='Good']

,hotel,rating,description,reviews,stars,location,landmark,dtl,price,tax
40,Westwood Riverside Garden Resort,3.4,Good,301,3.0,Moolakadai,Attukal Waterfalls,2.0,2428,711
43,Green Trees,3.1,Good,54,3.0,Chithirapuram,city centre,10.9,2706,589
49,The Club Munnar,3.1,Good,101,3.0,Devikulam,city centre,14.2,2630,557
56,La Flora Spicewood,3.4,Good,45,NaN,Suryanelli,city centre,22.4,1041,213
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3,1014,223